<nav>
    <div class="nav-right">
        <div class="logo-small">
            <img src="~/images/logos/mainlogo.svg" />
        </div>
    </div>
    <div class="nav-center">
        <a href="#" class="active">الصفحة الرئيسية</a>
        <a href="#">عن القمة</a>
        <a href="#">المتحدثون</a>
        <a href="#">الرعاة والشركاء</a>
        <a href="#">آخر الأخبار</a>
    </div>
    <div class="nav-left">
        <button class="login-btn">تسجيل</button>
        <div class="lang-selector">
            <img src="https://flagcdn.com/w20/ps.png" alt="Palestine Flag"> <!-- Placeholder flag -->
            <span>▼</span>
        </div>
    </div>
</nav>