<div class="container pt-5">
    <h1 class="color-dark mb-4 mt-5">
        @Html.GetWord(235)
    </h1>
    <h6 class="color-grey-light">
        @Html.GetWord(112) / @Html.GetWord(235)
    </h6>

   

        @{

            @await Component.InvokeAsync(nameof(Qimmah.Helpers.Components.LiveBroadcastComponent))

        }

    <div class="row">
        <div class="col-md-9">
            @string.Format(Html.GetWord(237), 250,1,1)
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>