#champion-container {
    min-height: 20rem;
    border-radius: 1rem;
    margin-top: 9rem;
}

/* Create a pseudo-element to hide overflow only from below */
#champion-container::after {
    content: "";
    position: absolute;
    top: -8.5rem;
    right: 7rem;
    bottom: 0;
    height: auto;
    width: 100%;
    background-image: url(/images/people/champion.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    z-index: 2;
}

/* Medium devices (≤992px) */
@media (max-width: 992px) {
    #champion-container::after {
        top: -2rem;
        right: -3rem;
        bottom: 0;
        width: 53%;
        background-size: 100% auto;
    }
}

/* Small devices (≤768px) */
@media (max-width: 768px) {
     #champion-container {
    min-height: 29rem;
    }
    #champion-container::after {
         top: 2.125rem;
        right: -3rem;
        bottom: 0rem;
        width: 67%;
        background-size: cover;
        background-position: center top;
    }
}

/* Extra small devices (≤576px) */
@media (max-width: 576px) {
    #champion-container {
    min-height: 29rem;
    }
    #champion-container::after {
        top: 8.125rem;
        right: 0;
        bottom: 0rem;
        width: 67%;
        background-size: cover;
        background-position: center top;
    }
}
