// ===========================================
// UTILITIES PARTIAL
// ===========================================

// Text Color Utilities
.text-color-main {
    color: $primary-bg;
}

.text-color-green {
    color: $accent-color;
}

.text-glowing {
    color: white;
    text-shadow: $text-shadow-glow;
}

.color-accent {
    color: $accent-color;
}

.color-primary {
    color: $primary-bg;
}

.text-align-start {
    text-align: start;
}

.justify-items-baseline {
    justify-items:baseline;
}


//bottuns
.position-absolute-bottom {
    position: absolute;
    bottom: 20px;
}


//Shadows
.svg-shadow-green {
    filter: drop-shadow(rgba(0, 170, 139, 0.9) 0px 0px 100.56577px);
}