// ===========================================
// UTILITIES PARTIAL
// ===========================================

// Text Color Utilities
.text-color-main {
    color: $primary-bg;
}

.text-color-green {
    color: $accent-color;
}

.text-glowing {
    color: white;
    text-shadow: $text-shadow-glow;
}

.color-accent {
    color: $accent-color;
}

.color-primary {
    color: $primary-bg;
}


.justify-items-baseline {
    justify-items:baseline;
}


