// ===========================================
// VARIABLES PARTIAL
// ===========================================
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import 'mixins';
// Colors
$primary-bg: #14748e;
$primary: #14748e;
$accent-color: #8A2432;
$text-color: #ffffff;
$card-bg-green: #8A2432;
$light-text: #696984;
$ligher-text: #77838F;
$dark-text: #2F2D51 ;
$medium-text: #ccc;
$card-title-color: #4C4C4C !default;
$card-color: black !default;

// Typography
$font-family: 'Cairo', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;


//backgrounds
$Transparency01: 0.2;
$Transparency02: 0.2;
$Transparency03: 0.3;
$Transparency04: 0.4;

$extralightPrimaryBackground: rgba($primary, $Transparency02);
$lightPrimaryBackground: rgba($primary, $Transparency03);
$lightBoldPrimaryBackground: rgba($primary, $Transparency04);


// Font Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Font Sizes
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 2rem;
$fs-4xl: 2.25rem;
$fs-5xl: 4.375rem;
$fs-6xl: 6.25rem;
$fs-10xl: 10rem;

$fs-huge: 12.5rem;

// Spacing
$spacing-xs: 0.3125rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 1.25rem;
$spacing-2xl: 1.5rem;
$spacing-3xl: 1.875rem;
$spacing-4xl: 2rem;
$spacing-5xl: 2.5rem;
$spacing-6xl: 3.125rem;
$spacing-66xl: 3.5rem;

$spacing-10xl: 7.5rem;


// Border Radius
$border-radius-sm: 0.0625rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 1.5rem;
$border-radius-full: 50%;

// Shadows
$shadow-xsm: 0px 0.16rem 3.75rem 0px rgba(38, 45, 118, 0.08);
$shadow-sm: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3);
$shadow-md: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.4);
$text-shadow-glow: 0 0 0.625rem rgba(255, 255, 255, 1);

// Breakpoints
$breakpoint-xs: 20rem; // 320px
$breakpoint-sm: 25rem; // 400px
$breakpoint-md: 30rem; // 480px
$breakpoint-lg: 36rem; // 576px
$breakpoint-xl: 48rem; // 768px
$breakpoint-2xl: 62rem; // 992px
$breakpoint-3xl: 75rem; // 1200px

// Z-index
$z-index-base: 1;
$z-index-nav: 1000;
$z-index-hero: 10;
$z-index-card-front: 2;
$z-index-card-back: 1;


//Colors
$color-main: #14748e;


//Inputs
$border-width: 0.0325rem;
$border-color: #ADADAD;
$focus-ring-width: 0.25rem;
$focus-ring-opacity: 0.25;
$focus-ring-color: rgba($accent-color, 0.25);

//color Overrides
$theme-colors: map-merge($theme-colors, ("primary": $primary ));
$theme-colors: map-merge($theme-colors, ("secondary": $accent-color ));



$transparency-levels: (
    "2": 0.2,
    "5": 0.5,
    "4":0.4,
    "8": 0.8
);

$colors: (
    "primary": $primary
);


@include generate-classes($colors, "bg", $transparency-levels);