.reveal-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: auto;

   

    &.revealed{
        opacity: 1;
        transform: translateY(0%);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: white;
        z-index: 2;
        transform: translateY(0%);
        transition: transform 1s ease;
    }

    &.revealed::before {
        transform: translateY(-100%);
    }
}
.starting-whatis {
    gap:12rem;
}
// Responsive tweaks
@media (max-width: 768px) {
    .starting-whatis {
        gap: 10rem;
    }
    .reveal-container {
        max-width: 200px;

       
    }
    .reveal-on-scroll {
        max-height: 200px;
    }
}

@media (max-width: 480px) {
    .reveal-container {
        max-width: 150px;

      
    }
    .reveal-on-scroll {
        max-height: 150px;
    }

    .starting-whatis {
        gap: 1rem !important;
    }
}
