<div class="about-summit-container container">
    <h3 class="about-summit-title">
        حول القمة
    </h3>
    <div class="svg-background-box mb-4 position-relative row ">
        <img class="clouds-decoration" src="~/images/background/clouds-green.svg" alt="Clouds decoration" />
        <div class="row">
            <div class="col-md-6 text-end about-summit-content">
                <h3 class="host-country-title">
                    الدولة المضيفة
                </h3>
                <h1 class="country-name-title">
                    ٱلْمَمْلَكَةُ ٱلْأُرْدُنِّيَّةُ ٱلْهَاشِمِيَّةُ
                </h1>
                <div class="event-info-item">
                    <img src="~/images/icons/location.svg" alt="Location" />
                    <span>
                        مركز الملك حسين بن طلال للمؤتمرات
                    </span>
                </div>
                <div class="event-info-item">
                    <img src="~/images/icons/locationpin.svg" alt="Location Pin" />
                    <span>
                        عمّان - البحر الميت
                    </span>
                </div>
                <div class="event-info-item">
                    <img src="~/images/icons/calendar.svg" alt="Calendar" />
                    <span>
                        ٱلْخَمِيسُ ١١ سِبْتَمْبَر ٢٠٢٥ م
                    </span>
                </div>
                <div class="event-info-item">
                    <img src="~/images/icons/clock.svg" alt="Clock" />
                    <span>
                        ٱلسَّاعَةُ ٱلتَّاسِعَةُ صَبَاحًا (٠٩:٠٠ ص)
                    </span>
                </div>
            </div>
            <div class="col-md-6 position-relative">
                <img class="building-decoration" src="~/images/background/building-green.svg" alt="Building decoration" />
            </div>
        </div>
    </div>
</div>