


<div class="cards-container mt-5">
    <!-- Card 1 -->
    <div class="card-wrapper card-1">
        <div class="card card-back">


        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">1</div>

                <div class="title-section">
                    <div class="sub-title">15 أغسطس</div>
                    <div class="day-title">اليوم الأول</div>
                </div>
            </div>
            <ul class="event-list">
                <li>الافتتاح الرسمي</li>
                <li>الجلسة التقنية</li>
                <li>معرض الابتكار</li>
            </ul>
            <div class="text-decoration-underline know-more">
                معرفه المزيد
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card-wrapper card-2">
        <div class="card card-back">

        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">2</div>

                <div class="title-section">
                    <div class="sub-title2">16 أغسطس</div>
                    <div class="day-title">اليوم الثاني</div>
                </div>
            </div>
            <ul class="event-list">
                <li>الافتتاح الرسمي</li>
                <li>الجلسة التقنية</li>
                <li>معرض الابتكار</li>
            </ul>
            <div class="text-decoration-underline know-more">
                معرفه المزيد
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card-wrapper card-3">
        <div class="card card-back">

        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">3</div>
                <div class="title-section">
                    <div class="sub-title">17 أغسطس</div>
                    <div class="day-title">اليوم الثالث</div>
                </div>
            </div>
            <ul class="event-list">
                <li>الافتتاح الرسمي</li>
                <li>الجلسة التقنية</li>
                <li>معرض الابتكار</li>
            </ul>
            <div class="text-decoration-underline know-more">
                معرفه المزيد
            </div>
        </div>
    </div>
</div>