<style>
    .cards-container {
        display: flex;
        gap: 2rem;
        perspective: 62.5rem;
    }

    .card-wrapper {
        position: relative;
        width: 25.6875rem;
        height: 29.6875rem;
        cursor: pointer;
        background-image: url(/images/background/bluebackground.svg) !important;
    }

    .card {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        padding: 0rem 1rem 1rem 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(0.625rem);
        background-image: url(/images/background/bluebackground.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--primary-bg);
    }

    .card-front {
        z-index: 2;
        transform: translateZ(0);
    }

    .card-back {
        z-index: 1;
        transform: translateZ(-0.625rem) rotate(-3deg);
        opacity: 0;
    }

    /* Card Colors */


    .card-1 .card-back {
        background: #00AA8B;
    }

    .card-2 .card-front {
        background: #00AA8B;
    }


    .card-2 .card-back {
        background-color: var(--primary-bg);
    }


    .card-3 .card-back {
        background: #00AA8B;
    }

    /* Hover Effects */
    .card-wrapper:hover .card-front {
        transform: translateZ(1.25rem) translateY(-0.625rem);
        box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.4);
    }

    .card-wrapper:hover .card-back {
        transform: translateZ(-0.3125rem) rotate(5deg) translateX(0.625rem);
        opacity: 0.8;
    }

    .qimmah-card-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title-section {
        flex: 1;
        font-size: 2.25rem;
        margin-right: 0.3125rem;
        text-align: right;
        margin-top: 4.6875rem;
        line-height: 1.875rem !important;
    }

    .sub-title {
        color: var(--d-9-d-9-d-9, #00AA8B);
        font-family: Cairo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        text-align: right;
    }

    .sub-title2 {
        color: white;
        font-family: Cairo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        text-align: right;
    }

    .day-title {
        color: #FFF;
        font-family: Cairo;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 900;
        line-height: 1.875rem;
        text-transform: uppercase;
    }

    .day-number {
        font-size: 12.5rem;
        font-weight: 900;
        line-height: 1;
    }

    .event-list {
        list-style: none;
        font-size: 1.1rem;
        line-height: 2;
        margin-bottom: 2rem;
    }

        .event-list li {
            position: relative;
            padding-right: 2rem;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            color: #FFF;
            text-align: right;
            font-family: Cairo;
            font-size: 2rem;
            font-style: normal;
            font-weight: 300;
            line-height: 188.346%; /* 60.271px */
            text-transform: uppercase;
        }

            .event-list li::before {
                content: '';
                position: absolute;
                right: 0;
                width: 0.75rem;
                height: 0.75rem;
                background: white;
                border-radius: 50%;
                opacity: 1;
            }

            .event-list li::after {
                content: '';
                position: absolute;
                right: 0.34375rem;
                top: 2.625rem;
                width: 0.125rem;
                height: 83%;
                background: rgba(255, 255, 255, 1);
                border-radius: 0.0625rem;
            }

            .event-list li:last-child::after {
                display: none;
            }



    /* Responsive Design */
    @@media (max-width: 80rem) {
        .cards-container {
            flex-direction: column;
            gap: 1.5rem;
        }

        .card-wrapper {
            width: 15.625rem;
            height: 21.875rem;
        }

        .day-number {
            color: #FFF;
            text-align: center;
            font-family: Cairo;
            font-size: 6.5rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }

        .day-title {
            font-size: 1.5rem;
        }

        .event-list {
            font-size: 1rem;
        }
            .event-list li {
                font-size: 1rem;
            }
            .event-list li::after {
                content: '';
                position: absolute;
                right: 0.34375rem;
                top: 1.625rem;
                width: 0.125rem;
                height: 83%;
                background: rgba(255, 255, 255, 1);
                border-radius: 0.0625rem;
            }
    }

    .know-more {
    position:absolute;
    bottom:0.5rem;
    left:42%;
    }
</style>


<div class="cards-container mt-5">
    <!-- Card 1 -->
    <div class="card-wrapper card-1">
        <div class="card card-back">


        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">1</div>

                <div class="title-section">
                    <div class="sub-title">15 أغسطس</div>
                    <div class="day-title">اليوم الأول</div>
                </div>
            </div>
            <ul class="event-list">
                <li>الافتتاح الرسمي</li>
                <li>الجلسة التقنية</li>
                <li>معرض الابتكار</li>
            </ul>
            <div class="text-decoration-underline know-more">
                معرفه المزيد
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card-wrapper card-2">
        <div class="card card-back">

        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">2</div>

                <div class="title-section">
                    <div class="sub-title2">16 أغسطس</div>
                    <div class="day-title">اليوم الثاني</div>
                </div>
            </div>
            <ul class="event-list">
                <li>الافتتاح الرسمي</li>
                <li>الجلسة التقنية</li>
                <li>معرض الابتكار</li>
            </ul>
            <div class="text-decoration-underline know-more">
                معرفه المزيد
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card-wrapper card-3">
        <div class="card card-back">

        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">3</div>
                <div class="title-section">
                    <div class="sub-title">17 أغسطس</div>
                    <div class="day-title">اليوم الثالث</div>
                </div>
            </div>
            <ul class="event-list">
                <li>الافتتاح الرسمي</li>
                <li>الجلسة التقنية</li>
                <li>معرض الابتكار</li>
            </ul>
            <div class="text-decoration-underline know-more">
                معرفه المزيد
            </div>
        </div>
    </div>
</div>