<div class="container position-relative border-radius-md bg-primary my-5" style="overflow: visible;">
    <div class="row align-items-center">
        <div class="col-md-8 text-align-start p-4">
            <div class="row flex-column">
                <div class="col-md-12">
                    <h1 class="fw-light fs-225-rem">
                        @Html.GetWord(126)
                    </h1>
                    <div class="fs-125-rem">
                        @Html.GetWord(127)
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-light mt-4" style="width: fit-content;">
                        @Html.GetWord(41)
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end position-relative">
            <img class="becomeAPartner-svg-background-box img-fluid d-none d-md-block"
                src="/images/background/handshake.svg"
                style="position: absolute; top: -193px; right: 50px; scale: 1.4; width: 150%; height: auto; z-index: 1;" />
            <img class="becomeAPartner-svg-background-box img-fluid d-md-none" src="/images/background/handshake.svg"
                style="width: 100%; margin-top: 20px;" />
        </div>
    </div>
</div>