

<div class="container position-relative bg-primary" id="champion-container">
    <div class="row " style="flex-wrap: nowrap;">
        <div class="col-md-8 text-align-start p-4">
            <h1 class="fw-light fs-225-rem">
                @Html.GetWord(45)
           </h1>
           <div class="fs-125-rem" style="width: 32.82rem;">
                @Html.GetWord(46)
           </div>
           <button type="button" class="btn btn-light position-absolute-bottom">@Html.GetWord(111)</button>

       </div>
       <div class="col-md-4 green-circle " id="champion-human">
       </div>
   </div>
</div>


