

<div class="container position-relative bg-primary" id="champion-container">
    <div class="row ">
        <div class="col-md-8 text-align-start p-4">
            <h1 class="fw-light fs-225-rem">
                هل ترغب أن تكون أحد أبطال القمة؟
           </h1>
           <div class="fs-125-rem" style="width: 32.82rem;">
                تقديم تجربة تفاعلية  ليتجول افتراضيًا في موقع القمة، يتعرف على القاعات، أجنحة الجامعات والشركات، وأماكن الفعاليات، وكأنه موجود في الحدث
           </div>
           <button type="button" class="btn btn-light position-absolute-bottom">انضمام</button>

       </div>
       <div class="col-md-4 d-flex green-circle" id="champion-human">
            <img class=" champion-person img-fluid" src="~/images/people/champion.png" />
       </div>
   </div>
</div>