
<div class="container position-relative interactive-svg-background-box">
    <div class="row ">
        <div class="col-md-8 text-align-start p-4">
           <div class="row flex-column"> 
               <div  class="col-md-12">
                    <h1 class="fw-light fs-225-rem">
                        @Html.GetWord(38)
                    </h1>
                    <div class="fs-125-rem" style="width: 32.82rem;">
                        @Html.GetWord(39) @Html.GetWord(40)
                    </div>
               </div>
               <div class="col-md-12">
                    <button type="button" class="btn btn-light mt-3" style="width: fit-content;">@Html.GetWord(41)</button>
               </div>
           </div>
        </div>
        <div class="col-md-4">
            <img class="img-fluid svg-shadow-green reveal-on-scroll" src="~/images/icons/3dicon.svg" />
        </div>
    </div>
</div>