<div class="container position-relative interactive-svg-background-box">
    <div class="row ">
        <div class="col-md-8 text-align-start p-4">
            <h1 class="fw-light fs-225-rem">
                استكشف القمة – عرض ثلاثي الأبعاد تفاعلي
           </h1>
           <div class="fs-125-rem" style="width: 32.82rem;">
                تقديم تجربة تفاعلية  ليتجول افتراضيًا في موقع القمة، يتعرف على القاعات، أجنحة الجامعات والشركات، وأماكن الفعاليات، وكأنه موجود في الحدث
           </div>
           <button type="button" class="btn btn-light position-absolute-bottom">عرض</button>

       </div>
       <div class="col-md-4">
            <img class="img-fluid svg-shadow-green reveal-on-scroll" src="~/images/icons/3dicon.svg" />
       </div>
   </div>
</div>