<script src="~/lib/gasp/gasp.min.js"></script>
<style>
    #theSpecialOne {
        filter: drop-shadow(0 0 3px rgba(0, 170, 139, 1)) drop-shadow(0 0 6px rgba(0, 170, 139, 0.7)) drop-shadow(0 0 10px rgba(0, 170, 139, 0.5));
        outline: none;
        animation: pulseShadow 3s infinite ease-in-out;
    }

    @@keyframes pulseShadow {
        0%, 100% {
            filter: drop-shadow(0 0 1px rgba(0, 170, 139, 1)) drop-shadow(0 0 2px rgba(0, 170, 139, 0.7)) drop-shadow(0 0 4px rgba(0, 170, 139, 0.5));
        }

        50% {
            filter: drop-shadow(0 0 4px rgba(0, 170, 139, 1)) drop-shadow(0 0 8px rgba(0, 170, 139, 0.7)) drop-shadow(0 0 12px rgba(0, 170, 139, 0.5));
        }
    }
</style>
<div class="hero-content position-relative">
    <div class="main-logo"><img src="~/images/logos/mainlogo.svg" /></div>
    <h1 class="text-glowing">@Html.GetWord(2)</h1>
    <p class="countdown-label">@Html.GetWord(3)</p>
    <div class="countdown">
        <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
    </div>
    <p class="event-date">الخميس ١١ سبتمبر ٢٠٢٥ م</p>
    <div id="globeCanvas" style="position: relative; width: 100%; height: 100%; overflow: hidden;">
    <div>
        <div id="particles-js" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;"></div>
        @{
            await Html.RenderPartialAsync("globeViews/_globesvg.cshtml");
        }
    </svg>
    </div>
</div>

</div>

<script src="~/lib/particles/particles.min.js"></script>
<script src="~/js/home/landingglobe.js"></script>