<div class="align-content-center align-items-center bg-itched-blue-green container-fluid justify-content-center py-5 text-center" id="partnersContainer">
    <div class="gx-5 justify-content-center row">
        <div class="col-md-2 rounded-white-bg">
            <img class="img-fluid" src="~/images/partners/fursanaltaghayor.jpg" />
        </div>
 @*        <div class="col-3 col-sm-2 col-md-2 col-lg-1  p-5 rounded-white-bg  m-4">
            <img class="img-fluid" src="~/images/partners/modee.png" />
        </div> *@
        @* <div class="col-3 col-sm-2 col-md-2 col-lg-1  p-5 rounded-white-bg  m-4">
            <img class="img-fluid mt-4" src="~/images/partners/coderz.svg" />
        </div> *@
        @* <div class="col-3 col-sm-2 col-md-2 col-lg-1  p-5 rounded-white-bg  m-4">
            <img class="img-fluid"  src="~/images/partners/ministryofyouth.png" />
        </div> *@
    </div>
</div>