<div class="bg-white container w-100 position-block">
    <h3 class="my-5 text-color-main">
        حول القمة
    </h3>
    <div class="svg-background-box mb-4 position-relative p-4" >
        <div class="row">
            <div class="col-md-6 text-end my-5 me-4" >
                <h3 class="text-color-green " style="32px">الدولة المضيفة</h3>
                <h1 class="mt-4"  style="32px; font-weight:700; line-height: 177%">ٱلْمَمْلَكَةُ ٱلْأُرْدُنِّيَّةُ ٱلْهَاشِمِيَّةُ</h1>
                <h2 class="mt-4" style="font-size:20px">مركز الملك حسين بن طلال للمؤتمرات</h2>
                <h2 class="mt-4" style="font-size:20px">عمّان - البحر الميت</h2>
                <h2 class="mt-4" style="font-size:20px">ٱلْخَمِيسُ ١١ سِبْتَمْبَر ٢٠٢٥ م</h2>
                <h2 class="mt-4" style="font-size:20px">ٱلسَّاعَةُ ٱلتَّاسِعَةُ صَبَاحًا (٠٩:٠٠ ص)</h2>
            </div>
            <div class="col-md-6">  
                <img class=" position-absolute" style="top: -59px;left: 94px;" src="~/images/background/clouds-green.svg" />
                <img style="position: absolute; bottom: 0px; left: 0px;" src="~/images/background/building-green.svg" />
            </div>
        </div>
    </div>
</div>