/* ----------------- Cairo Fonts ----------------- */
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/static/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
/* ----------------- Poppins Fonts ----------------- */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
body, body * {
  font-family: "Cairo", sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

#globeCanvas {
  background-color: #0a2f4d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
  background-color: #0a2f4d;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.nav-left,
.nav-right,
.nav-center {
  display: flex;
  align-items: center;
}

.nav-left {
  gap: 1.25rem;
}

.nav-center a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-center a.active {
  color: #00c795;
  font-weight: 700;
}

.login-btn {
  background-color: #ffffff;
  color: #0a2f4d;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.875rem;
}

.lang-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lang-selector img {
  width: 1.25rem;
  height: auto;
  margin-left: 0.3125rem;
}
.lang-selector span {
  font-size: 0.75rem;
  margin-right: 0.3125rem;
}

.logo-small {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.0625rem;
  color: #ffffff;
}
.logo-small::first-letter {
  color: #00c795;
}

.hero-content {
  position: relative;
  z-index: 10;
  padding-bottom: 3.125rem;
  background-color: #0a2f4d;
  width: 100%;
}

.main-logo {
  font-size: 6.25rem;
  font-weight: 900;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
  color: #ffffff;
  background-color: #0a2f4d;
}
.main-logo::first-letter {
  color: #00c795;
}
.main-logo img {
  height: 6.25rem;
}

.countdown-label {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  color: #bbb;
}

.countdown {
  font-size: 4.375rem;
  font-weight: 900;
  margin-bottom: 1.25rem;
}
.countdown #hours {
  color: #00c795;
}

.event-date {
  font-size: 1rem;
  color: #ccc;
}

.clouds-decoration {
  position: absolute;
  top: -3.6875rem;
  left: 5.875rem;
}

.about-summit-container {
  background-color: white;
  width: 100%;
  position: relative;
}

.about-summit-title {
  margin: 3.125rem 0;
  color: #0a2f4d;
}

.host-country-title {
  color: #00c795;
  font-size: 2rem;
}

.country-name-title {
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 177%;
}

.event-info-item {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.event-info-item img {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.building-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.svg-background-box {
  background-image: url("/images/background/bluebackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2f4d;
  border-radius: 1rem;
  padding: 2rem;
  color: #fff;
}

.cards-container {
  display: flex;
  gap: 2rem;
  perspective: 62.5rem;
}

.card-wrapper {
  position: relative;
  width: 25.6875rem;
  height: 29.6875rem;
  cursor: pointer;
  background-image: url(/images/background/bluebackground.svg) !important;
}
.card-wrapper:hover .card-front {
  transform: translateZ(1.25rem) translateY(-0.625rem);
  box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.4);
}
.card-wrapper:hover .card-back {
  transform: translateZ(-0.3125rem) rotate(-5deg) translateX(0.625rem);
  opacity: 0.8;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  padding: 0rem 1rem 1rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.625rem);
  background-image: url(/images/background/bluebackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2f4d;
}

.card-front {
  z-index: 2;
  transform: translateZ(0);
}

.card-back {
  z-index: 1;
  transform: translateZ(-0.625rem) rotate(3deg);
  opacity: 0;
}

.card-1 .card-back {
  background: #00AA8B;
}

.card-2 .card-front {
  background: #00AA8B;
}
.card-2 .card-back {
  background-color: #0a2f4d;
}

.card-3 .card-back {
  background: #00AA8B;
}

.qimmah-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-section {
  flex: 1;
  font-size: 2.25rem;
  margin-right: 0.3125rem;
  text-align: right;
  margin-top: 4.6875rem;
  line-height: 1.875rem !important;
}

.sub-title {
  color: #00AA8B;
  font-family: Cairo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: right;
}

.sub-title2 {
  color: white;
  font-family: Cairo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: right;
}

.day-title {
  color: #FFF;
  font-family: Cairo;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.875rem;
  text-transform: uppercase;
}

.day-number {
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 1;
}

.event-list {
  list-style: none;
  font-size: 1.1rem;
  line-height: 2;
  margin-bottom: 2rem;
}
.event-list li {
  position: relative;
  padding-right: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: right;
  font-family: Cairo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 188.346%;
  text-transform: uppercase;
}
.event-list li::before {
  content: "";
  position: absolute;
  right: 0;
  width: 0.75rem;
  height: 0.75rem;
  background: white;
  border-radius: 50%;
  opacity: 1;
}
.event-list li::after {
  content: "";
  position: absolute;
  right: 0.34375rem;
  top: 2.625rem;
  width: 0.125rem;
  height: 83%;
  background: rgb(255, 255, 255);
  border-radius: 0.0625rem;
}
.event-list li:last-child::after {
  display: none;
}

.know-more {
  position: absolute;
  bottom: 0.5rem;
  left: 42%;
}

.text-color-main {
  color: #0a2f4d;
}

.text-color-green {
  color: #00c795;
}

.text-glowing {
  color: white;
  text-shadow: 0 0 0.625rem rgb(255, 255, 255);
}

@media (max-width: 75rem) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 62rem) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 48rem) {
  html {
    font-size: 13px;
  }
  .nav-center {
    display: none;
  }
  #globeCanvas {
    bottom: -10%;
    height: 50%;
    width: 150%;
  }
  .clouds-decoration {
    top: -5.6875rem;
    left: 0.875rem;
  }
  .about-summit-content {
    text-align: center;
    margin: 0;
  }
  .building-decoration {
    position: relative;
    width: 100%;
    margin-top: 2rem;
  }
  .event-info-item {
    justify-content: flex-start;
    font-size: 1.125rem;
  }
  .clouds-decoration {
    top: -30rem;
    left: 22%;
    transform: translateX(-50%);
    width: 18rem;
  }
}
@media (max-width: 62rem) {
  .clouds-decoration {
    left: 0.875rem !important;
  }
}
@media (max-width: 40rem) {
  .cards-container {
    flex-direction: column;
  }
}
@media (max-width: 36rem) {
  html {
    font-size: 12px;
  }
  .main-logo img {
    max-width: 90%;
    height: auto;
  }
  .nav-left {
    gap: 0.75rem;
  }
  .host-country-title,
  .country-name-title {
    font-size: 1.5rem;
  }
  .event-info-item {
    font-size: 1rem;
  }
  .clouds-decoration {
    top: -27.2875rem;
    left: 9.875rem;
  }
}
@media (max-width: 30rem) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 25rem) {
  html {
    font-size: 10px;
  }
  nav {
    padding: 0.5rem 1rem;
  }
  .login-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
  .lang-selector span {
    display: none;
  }
  .host-country-title,
  .country-name-title {
    font-size: 1.5rem;
  }
  .event-info-item {
    font-size: 1rem;
  }
  .clouds-decoration {
    top: -27.2875rem;
    left: 9.875rem;
  }
  .cards-container {
    flex-direction: column;
  }
}
@media (max-width: 20rem) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 80rem) {
  .cards-container {
    gap: 1.5rem;
  }
  .card-wrapper {
    width: 15.625rem;
    height: 21.875rem;
  }
  .day-number {
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 6.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .day-title {
    font-size: 1.5rem;
  }
  .title-section {
    margin-top: 2.1875rem;
  }
  .card {
    height: 90%;
  }
  .know-more {
    bottom: 1.5rem;
    left: 34%;
  }
  .event-list {
    font-size: 1rem;
    padding-right: 1rem !important;
  }
  .event-list li {
    font-size: 1rem;
  }
  .event-list li::after {
    content: "";
    position: absolute;
    right: 0.34375rem;
    top: 1.625rem;
    width: 0.125rem;
    height: 83%;
    background: rgb(255, 255, 255);
    border-radius: 0.0625rem;
  }
}
